.about-us-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.about-us-navbar-interactive {
  width: 100%;
  display: flex;
  position: relative;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
  background-color: #D9D9D9;
}
.about-us-navlink {
  display: contents;
}
.about-us-logo {
  width: 98px;
  height: 87px;
  text-decoration: none;
}
.about-us-desktop-menu {
  display: flex;
}
.about-us-nav {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.about-us-navlink01 {
  text-decoration: none;
}
.about-us-navlink02 {
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.about-us-navlink03 {
  margin-left: var(--dl-space-space-twounits);
}
.about-us-text {
  margin-left: var(--dl-space-space-twounits);
}
.about-us-navlink04 {
  margin-left: var(--dl-space-space-twounits);
}
.about-us-btn-group {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.about-us-login {
  color: var(--dl-color-grays-dark100);
  border-width: 0px;
  margin-right: var(--dl-space-space-twounits);
  text-decoration: none;
  background-color: rgb(250, 121, 48);
}
.about-us-register {
  border-color: var(--dl-color-grays-black100);
  text-decoration: none;
}
.about-us-burger-menu {
  display: none;
  align-items: center;
  justify-content: center;
}
.about-us-icon {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.about-us-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: flex;
  padding: 32px;
  z-index: 100;
  position: fixed;
  transform: translateX(100%);
  transition: 0.5s;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
}
.about-us-nav1 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.about-us-container01 {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.about-us-image {
  height: 2rem;
}
.about-us-menu-close {
  display: flex;
  align-items: center;
  justify-content: center;
}
.about-us-icon02 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.about-us-nav2 {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.about-us-navlink05 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.about-us-navlink06 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.about-us-navlink07 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.about-us-text01 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.about-us-navlink08 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.about-us-container02 {
  flex: 0 0 auto;
  width: auto;
  display: flex;
  margin-top: var(--dl-space-space-unit);
  align-items: center;
  flex-direction: row;
}
.about-us-login1 {
  margin-right: var(--dl-space-space-twounits);
  text-decoration: none;
}
.about-us-register1 {
  text-decoration: none;
}
.about-us-icon-group {
  display: flex;
}
.about-us-icon04 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.about-us-icon06 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.about-us-icon08 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.about-us-banner {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-threeunits);
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}
.about-us-text02 {
  font-size: 3rem;
  text-align: center;
}
.about-us-text03 {
  max-width: var(--dl-size-size-maxwidth);
  margin-top: var(--dl-space-space-twounits);
  text-align: center;
  margin-bottom: var(--dl-space-space-twounits);
}
.about-us-text04 {
  max-width: var(--dl-size-size-maxwidth);
  margin-top: var(--dl-space-space-twounits);
  text-align: center;
  margin-bottom: var(--dl-space-space-twounits);
}
.about-us-banner1 {
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-fourunits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fourunits);
  background-size: cover;
  justify-content: space-between;
  background-image: url("https://images.unsplash.com/photo-1548504773-429e84f586d2?ixid=Mnw5MTMyMXwwfDF8c2VhcmNofDV8fG9yYW5nZXxlbnwwfHx8fDE2NzE3MjczMzI&ixlib=rb-4.0.3&w=1500");
  background-position: center;
}
.about-us-text11 {
  font-size: 3rem;
  text-align: center;
  margin-bottom: var(--dl-space-space-unit);
}
.about-us-text12 {
  max-width: var(--dl-size-size-maxwidth);
  text-align: center;
  margin-bottom: var(--dl-space-space-twounits);
}
.about-us-form {
  width: 446px;
  height: 269px;
  display: flex;
  align-self: center;
  align-items: center;
  flex-direction: column;
}
.about-us-container03 {
  flex: 0 0 auto;
  width: auto;
  height: 104px;
  display: flex;
  flex-direction: column;
}
.about-us-textinput {
  align-self: center;
  margin-top: var(--dl-space-space-unit);
  text-align: center;
}
.about-us-textinput1 {
  width: 100%;
  height: 88px;
  align-self: center;
  margin-top: var(--dl-space-space-unit);
  text-align: center;
}
.about-us-button {
  color: var(--dl-color-grays-white100);
  height: 46px;
  margin-top: var(--dl-space-space-unit);
  background-color: var(--dl-color-grays-black100);
}
.about-us-text13 {
  font-size: 48px;
  margin-top: var(--dl-space-space-twounits);
  margin-bottom: var(--dl-space-space-twounits);
}
.about-us-text16 {
  color: #18b0b3;
  text-decoration: underline;
}
.about-us-pricing {
  width: 100%;
  display: flex;
  background-size: cover;
  justify-content: center;
  background-image: url("https://images.unsplash.com/photo-1593062096033-9a26b09da705?ixid=Mnw5MTMyMXwwfDF8c2VhcmNofDN8fHdvcmtzcGFjZXxlbnwwfHx8fDE2NzE3Mjc1MDM&ixlib=rb-4.0.3&w=1500");
  background-position: center;
}
.about-us-container04 {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-threeunits);
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  background-size: cover;
  justify-content: center;
}
.about-us-pricing-card {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-threeunits);
  max-width: 450px;
  min-height: 450px;
  transition: 0.3s;
  align-items: flex-start;
  padding-top: var(--dl-space-space-twounits);
  margin-right: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
  background-color: #FFFFFF;
}
.about-us-pricing-card:hover {
  transform: scale(1.02);
}
.about-us-text18 {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: var(--dl-space-space-twounits);
  text-transform: uppercase;
}
.about-us-container05 {
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-twounits);
  flex-direction: row;
}
.about-us-text19 {
  font-size: 1.15rem;
  margin-top: var(--dl-space-space-twounits);
  font-weight: 300;
}
.about-us-text22 {
  font-size: 4rem;
  font-weight: 700;
}
.about-us-container06 {
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-threeunits);
  flex-direction: column;
}
.about-us-text23 {
  margin-bottom: var(--dl-space-space-unit);
}
.about-us-text24 {
  margin-bottom: var(--dl-space-space-unit);
}
.about-us-text25 {
  margin-bottom: var(--dl-space-space-unit);
}
.about-us-text26 {
  margin-bottom: var(--dl-space-space-unit);
}
.about-us-button1 {
  color: #FFFFFF;
  margin-top: auto;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  padding-bottom: var(--dl-space-space-unit);
  background-color: #000000;
}
.about-us-pricing-card1 {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-twounits);
  max-width: 450px;
  min-height: 450px;
  transition: 0.3s;
  align-items: flex-start;
  margin-right: var(--dl-space-space-twounits);
  flex-direction: column;
  background-color: #FFFFFF;
}
.about-us-pricing-card1:hover {
  transform: scale(1.02);
}
.about-us-text27 {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: var(--dl-space-space-twounits);
  text-transform: uppercase;
}
.about-us-container07 {
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-twounits);
  flex-direction: row;
}
.about-us-text28 {
  font-size: 1.15rem;
  margin-top: var(--dl-space-space-twounits);
  font-weight: 300;
}
.about-us-text31 {
  font-size: 4rem;
  font-weight: 700;
}
.about-us-text32 {
  font-size: 1.15rem;
  font-style: normal;
  margin-top: var(--dl-space-space-twounits);
  font-weight: 300;
}
.about-us-text34 {
  color: #595959;
  font-size: 0.75rem;
  margin-bottom: var(--dl-space-space-twounits);
}
.about-us-container08 {
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-threeunits);
  flex-direction: column;
}
.about-us-text35 {
  margin-bottom: var(--dl-space-space-unit);
}
.about-us-text37 {
  margin-bottom: var(--dl-space-space-unit);
}
.about-us-text38 {
  margin-bottom: var(--dl-space-space-unit);
}
.about-us-text39 {
  margin-bottom: var(--dl-space-space-unit);
}
.about-us-button2 {
  color: #FFFFFF;
  margin-top: auto;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  padding-bottom: var(--dl-space-space-unit);
  background-color: #000000;
}
.about-us-pricing-card2 {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-threeunits);
  max-width: 450px;
  min-height: 450px;
  transition: 0.3s;
  align-items: flex-start;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-twounits);
  background-color: #FFFFFF;
}
.about-us-pricing-card2:hover {
  transform: scale(1.02);
}
.about-us-text40 {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: var(--dl-space-space-twounits);
  text-transform: uppercase;
}
.about-us-container09 {
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-twounits);
  flex-direction: row;
}
.about-us-text41 {
  font-size: 1.15rem;
  margin-top: var(--dl-space-space-twounits);
  font-weight: 300;
}
.about-us-text44 {
  font-size: 4rem;
  font-weight: 700;
}
.about-us-text45 {
  font-size: 1.15rem;
  font-style: normal;
  margin-top: var(--dl-space-space-twounits);
  font-weight: 300;
}
.about-us-text47 {
  color: #595959;
  font-size: 0.75rem;
  margin-bottom: var(--dl-space-space-twounits);
}
.about-us-container10 {
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-unit);
  flex-direction: column;
}
.about-us-text48 {
  margin-bottom: var(--dl-space-space-unit);
}
.about-us-text50 {
  margin-bottom: var(--dl-space-space-unit);
}
.about-us-text51 {
  margin-bottom: var(--dl-space-space-unit);
}
.about-us-text53 {
  margin-bottom: var(--dl-space-space-unit);
}
.about-us-button3 {
  color: #FFFFFF;
  margin-top: auto;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  padding-bottom: var(--dl-space-space-unit);
  background-color: #000000;
}
.about-us-footer {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
}
.about-us-container11 {
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}
.about-us-navlink09 {
  display: contents;
}
.about-us-image1 {
  width: 126px;
  height: 104px;
  margin-bottom: var(--dl-space-space-twounits);
  text-decoration: none;
}
.about-us-nav3 {
  flex: 0 0 auto;
  display: flex;
  margin-top: 0px;
  align-items: center;
  flex-direction: row;
}
.about-us-navlink10 {
  margin-left: 0px;
  text-decoration: none;
}
.about-us-navlink11 {
  margin-left: var(--dl-space-space-unit);
  text-decoration: none;
}
.about-us-navlink12 {
  margin-left: var(--dl-space-space-unit);
  text-decoration: none;
}
.about-us-text62 {
  margin-left: var(--dl-space-space-unit);
  text-decoration: none;
}
.about-us-navlink13 {
  margin-left: var(--dl-space-space-unit);
  text-decoration: none;
}
.about-us-separator {
  flex: 0 0 auto;
  width: 100%;
  height: 0px;
  display: flex;
  margin-top: var(--dl-space-space-twounits);
  align-items: flex-start;
  margin-left: 0px;
  border-color: #D9D9D9;
  border-style: solid;
  border-width: 1px;
  margin-right: 0px;
  margin-bottom: var(--dl-space-space-twounits);
  flex-direction: row;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
}
.about-us-container12 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.about-us-icon-group1 {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.about-us-icon10 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  transition: 0.3s;
  margin-right: var(--dl-space-space-twounits);
}

.about-us-icon12 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  transition: 0.3s;
  margin-right: var(--dl-space-space-twounits);
}

.about-us-icon14 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  transition: 0.3s;
}

@media(max-width: 1600px) {
  .about-us-navbar-interactive {
    background-color: #D9D9D9;
  }
  .about-us-logo {
    width: 69px;
    height: 64px;
  }
  .about-us-form {
    width: 599px;
    height: 218px;
    align-self: center;
    align-items: center;
  }
  .about-us-container03 {
    height: 158px;
  }
  .about-us-textinput {
    height: 48px;
    align-self: center;
    margin-top: var(--dl-space-space-unit);
    margin-bottom: var(--dl-space-space-unit);
  }
  .about-us-textinput1 {
    height: 105px;
    align-self: center;
    margin-bottom: var(--dl-space-space-unit);
  }
  .about-us-button {
    color: var(--dl-color-grays-white100);
    height: 51px;
    align-self: center;
    background-color: var(--dl-color-grays-black100);
  }
  .about-us-text14 {
    font-size: 20px;
    text-align: center;
  }
  .about-us-text62 {
    font-weight: bold;
  }
  .about-us-navlink13 {
    text-decoration: none;
  }
}
@media(max-width: 1200px) {
  .about-us-logo {
    width: 69px;
    height: 69px;
  }
  .about-us-text02 {
    font-size: 3rem;
  }
  .about-us-banner1 {
    z-index: 100;
    padding-bottom: 60px;
    background-size: cover;
    background-image: url("https://images.unsplash.com/photo-1548504773-429e84f586d2?ixid=Mnw5MTMyMXwwfDF8c2VhcmNofDV8fG9yYW5nZXxlbnwwfHx8fDE2NzE3MjczMzI&ixlib=rb-4.0.3&w=1500");
  }
  .about-us-text11 {
    font-size: 3rem;
  }
  .about-us-form {
    width: 443px;
    height: 254px;
    align-self: center;
    align-items: center;
  }
  .about-us-textinput {
    height: 49px;
    align-self: center;
    text-align: center;
    margin-bottom: var(--dl-space-space-unit);
  }
  .about-us-textinput1 {
    width: 238px;
    height: 100%;
    align-self: center;
    margin-bottom: var(--dl-space-space-unit);
  }
  .about-us-button {
    color: var(--dl-color-grays-white100);
    width: 101px;
    height: 42px;
    align-self: center;
    text-align: center;
    border-color: var(--dl-color-grays-black100);
    margin-bottom: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-unit);
    background-color: var(--dl-color-grays-black100);
  }
  .about-us-pricing-card {
    height: 612px;
  }
  .about-us-button1 {
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
  }
  .about-us-pricing-card1 {
    height: 529px;
  }
  .about-us-text31 {
    font-size: 4rem;
    font-weight: 700;
  }
  .about-us-text34 {
    color: rgb(89, 89, 89);
    font-size: 0.75rem;
  }
  .about-us-container08 {
    margin-bottom: 5px;
  }
  .about-us-button2 {
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
  }
  .about-us-pricing-card2 {
    height: 616px;
  }
  .about-us-text44 {
    font-size: 4rem;
    font-weight: 700;
  }
  .about-us-text47 {
    color: rgb(89, 89, 89);
    font-size: 0.75rem;
  }
  .about-us-button3 {
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
  }
}
@media(max-width: 991px) {
  .about-us-text03 {
    max-width: 100%;
  }
  .about-us-text04 {
    max-width: 100%;
  }
  .about-us-text12 {
    width: 100%;
  }
  .about-us-pricing-card {
    width: 100%;
    padding: var(--dl-space-space-twounits);
    max-width: 100%;
    align-items: center;
  }
  .about-us-pricing-card1 {
    width: 100%;
    max-width: 100%;
    align-items: center;
  }
  .about-us-pricing-card2 {
    width: 100%;
    max-width: 100%;
    align-items: center;
  }
}
@media(max-width: 767px) {
  .about-us-navbar-interactive {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .about-us-desktop-menu {
    display: none;
  }
  .about-us-navlink02 {
    margin-left: var(--dl-space-space-unit);
  }
  .about-us-navlink03 {
    margin-left: var(--dl-space-space-unit);
  }
  .about-us-text {
    margin-left: var(--dl-space-space-unit);
  }
  .about-us-navlink04 {
    margin-left: var(--dl-space-space-unit);
  }
  .about-us-btn-group {
    display: none;
  }
  .about-us-burger-menu {
    display: flex;
  }
  .about-us-icon {
    width: var(--dl-size-size-small);
    height: var(--dl-size-size-small);
  }
  .about-us-mobile-menu {
    height: 412px;
  }
  .about-us-image {
    width: 99px;
    height: 95px;
  }
  .about-us-icon02 {
    width: var(--dl-size-size-small);
    height: var(--dl-size-size-small);
  }
  .about-us-navlink07 {
    text-decoration: none;
  }
  .about-us-text01 {
    text-decoration: none;
  }
  .about-us-navlink08 {
    text-decoration: none;
  }
  .about-us-login1 {
    background-color: var(--dl-color-backgrounds-primary);
  }
  .about-us-register1 {
    border-color: var(--dl-color-grays-black100);
  }
  .about-us-banner {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .about-us-text03 {
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .about-us-text04 {
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .about-us-banner1 {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .about-us-text12 {
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .about-us-container04 {
    flex-flow: column;
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .about-us-pricing-card {
    width: 100%;
    max-width: 450px;
    align-items: center;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-twounits);
  }
  .about-us-pricing-card1 {
    width: 100%;
    max-width: 450px;
    align-items: center;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-twounits);
  }
  .about-us-pricing-card2 {
    width: 100%;
    max-width: 450px;
    align-items: center;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-twounits);
  }
  .about-us-footer {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .about-us-image1 {
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .about-us-separator {
    margin-top: var(--dl-space-space-oneandhalfunits);
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .about-us-container12 {
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
  }
  .about-us-text63 {
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
}
@media(max-width: 479px) {
  .about-us-navbar-interactive {
    padding: var(--dl-space-space-unit);
    padding-right: 16px;
  }
  .about-us-mobile-menu {
    padding: 16px;
  }
  .about-us-icon02 {
    width: var(--dl-size-size-small);
    height: var(--dl-size-size-small);
  }
  .about-us-banner {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .about-us-banner1 {
    padding-top: var(--dl-space-space-threeunits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-threeunits);
  }
  .about-us-container04 {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .about-us-pricing-card2 {
    margin-bottom: 0px;
  }
  .about-us-footer {
    padding: var(--dl-space-space-unit);
  }
  .about-us-separator {
    margin-top: var(--dl-space-space-oneandhalfunits);
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .about-us-container12 {
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
  }
  .about-us-text63 {
    text-align: center;
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
}
