.print-pdf-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.print-pdf-navbar-interactive {
  width: 100%;
  display: flex;
  position: relative;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
  background-color: #D9D9D9;
}
.print-pdf-navlink {
  display: contents;
}
.print-pdf-logo {
  width: 141px;
  height: 145px;
  text-decoration: none;
}
.print-pdf-desktop-menu {
  display: flex;
}
.print-pdf-nav {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.print-pdf-navlink01 {
  font-size: 18px;
  text-decoration: none;
}
.print-pdf-navlink02 {
  font-size: 18px;
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.print-pdf-navlink03 {
  font-size: 18px;
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.print-pdf-navlink04 {
  font-size: 18px;
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.print-pdf-text {
  font-size: 18px;
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.print-pdf-navlink05 {
  font-size: 18px;
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.print-pdf-btn-group {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.print-pdf-login {
  border-width: 0px;
  margin-right: var(--dl-space-space-twounits);
  text-decoration: none;
  background-color: var(--dl-color-backgrounds-primary);
}
.print-pdf-register {
  text-decoration: none;
}
.print-pdf-burger-menu {
  display: none;
  align-items: center;
  justify-content: center;
}
.print-pdf-icon {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.print-pdf-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: flex;
  padding: 32px;
  z-index: 100;
  position: fixed;
  transform: translateX(100%);
  transition: 0.5s;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
}
.print-pdf-nav1 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.print-pdf-container01 {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.print-pdf-image {
  height: 2rem;
}
.print-pdf-menu-close {
  display: flex;
  align-items: center;
  justify-content: center;
}
.print-pdf-icon02 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.print-pdf-nav2 {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.print-pdf-navlink06 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.print-pdf-navlink07 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.print-pdf-navlink08 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.print-pdf-navlink09 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.print-pdf-text01 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.print-pdf-navlink10 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.print-pdf-container02 {
  flex: 0 0 auto;
  width: auto;
  display: flex;
  margin-top: var(--dl-space-space-unit);
  align-items: center;
  flex-direction: row;
}
.print-pdf-login1 {
  margin-right: var(--dl-space-space-twounits);
  text-decoration: none;
}
.print-pdf-register1 {
  text-decoration: none;
}
.print-pdf-icon-group {
  display: flex;
}
.print-pdf-icon04 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.print-pdf-icon06 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.print-pdf-icon08 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.print-pdf-hero {
  width: 100%;
  display: flex;
  padding: 0px;
  max-width: 100%;
  min-height: 80vh;
  transition: 0.3s;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}

.print-pdf-container03 {
  width: 25rem;
  height: 828px;
  display: flex;
  align-items: flex-start;
  background-size: cover;
  justify-content: center;
  background-image: url('https://images.unsplash.com/photo-1616198814651-e71f960c3180?ixid=Mnw5MTMyMXwwfDF8c2VhcmNofDE0fHx0aW1lfGVufDB8fHx8MTY3NDE5MDY1MA&ixlib=rb-4.0.3&w=1500');
  background-position: center;
}
.print-pdf-text02 {
  text-align: center;
}
.print-pdf-text03 {
  color: var(--dl-color-grays-white100);
}
.print-pdf-text05 {
  color: var(--dl-color-grays-white100);
}
.print-pdf-text07 {
  color: var(--dl-color-grays-white100);
}
.print-pdf-container04 {
  width: 1761px;
  display: flex;
  z-index: 100;
  align-self: center;
  align-items: flex-start;
  border-color: var(--dl-color-grays-dark100);
  border-width: 0px;
  border-radius: var(--dl-radius-radius-radius4);
  flex-direction: column;
  justify-content: center;
}
.print-pdf-container05 {
  display: flex;
  position: relative;
  margin-left: var(--dl-space-space-twounits);
  flex-direction: column;
}
.print-pdf-text09 {
  font-size: 3rem;
}
.print-pdf-text10 {
  margin: var(--dl-space-space-halfunit);
  font-weight: 600;
}
.print-pdf-form {
  width: 100%;
  height: 387px;
  display: flex;
  align-self: center;
  align-items: center;
  border-color: var(--dl-color-grays-dark100);
  border-width: 1px;
  flex-direction: column;
  justify-content: flex-start;
}
.print-pdf-text11 {
  font-size: 18px;
  align-self: center;
  font-style: normal;
  margin-top: var(--dl-space-space-halfunit);
  font-weight: 500;
  margin-bottom: var(--dl-space-space-halfunit);
}
.print-pdf-textinput {
  width: 290px;
  align-self: center;
  margin-bottom: var(--dl-space-space-unit);
}
.print-pdf-text12 {
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
}
.print-pdf-container06 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.print-pdf-container07 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.print-pdf-text13 {
  margin-left: var(--dl-space-space-halfunit);
  margin-right: var(--dl-space-space-twounits);
}
.print-pdf-text14 {
  margin-left: var(--dl-space-space-halfunit);
}
.print-pdf-text15 {
  font-size: 18px;
  font-style: normal;
  margin-top: var(--dl-space-space-unit);
  font-weight: 500;
}
.print-pdf-container08 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.print-pdf-container09 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.print-pdf-text16 {
  margin-left: var(--dl-space-space-halfunit);
  margin-right: var(--dl-space-space-twounits);
}
.print-pdf-text17 {
  margin-left: var(--dl-space-space-halfunit);
}
.print-pdf-text18 {
  font-size: 18px;
  font-style: normal;
  margin-top: var(--dl-space-space-unit);
  font-weight: 500;
}
.print-pdf-container10 {
  flex: 0 0 auto;
  width: auto;
  height: 31px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.print-pdf-container11 {
  flex: 0 0 auto;
  width: auto;
  height: 31px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.print-pdf-textinput1 {
  width: 212px;
  height: 31px;
  align-self: center;
  margin-bottom: 0px;
}
.print-pdf-text19 {
  font-size: 18px;
  font-style: normal;
  margin-top: var(--dl-space-space-unit);
  font-weight: 500;
}
.print-pdf-button {
  color: #FFFFFF;
  transition: 0.3s;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  padding-bottom: var(--dl-space-space-unit);
  background-color: #000000;
}
.print-pdf-button:hover {
  transform: scale(1.02);
}
.print-pdf-footer {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
}
.print-pdf-container12 {
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}
.print-pdf-navlink11 {
  display: contents;
}
.print-pdf-image1 {
  width: 126px;
  height: 104px;
  margin-bottom: var(--dl-space-space-twounits);
  text-decoration: none;
}
.print-pdf-nav3 {
  flex: 0 0 auto;
  display: flex;
  margin-top: 0px;
  align-items: center;
  flex-direction: row;
}
.print-pdf-navlink12 {
  margin-left: 0px;
  text-decoration: none;
}
.print-pdf-navlink13 {
  margin-left: var(--dl-space-space-unit);
  text-decoration: none;
}
.print-pdf-navlink14 {
  margin-left: var(--dl-space-space-unit);
  text-decoration: none;
}
.print-pdf-text20 {
  margin-left: var(--dl-space-space-unit);
  text-decoration: none;
}
.print-pdf-navlink15 {
  margin-left: var(--dl-space-space-unit);
  text-decoration: none;
}
.print-pdf-separator {
  flex: 0 0 auto;
  width: 100%;
  height: 0px;
  display: flex;
  margin-top: var(--dl-space-space-twounits);
  align-items: flex-start;
  margin-left: 0px;
  border-color: #D9D9D9;
  border-style: solid;
  border-width: 1px;
  margin-right: 0px;
  margin-bottom: var(--dl-space-space-twounits);
  flex-direction: row;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
}
.print-pdf-container13 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.print-pdf-icon-group1 {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.print-pdf-icon10 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  transition: 0.3s;
  margin-right: var(--dl-space-space-twounits);
}

.print-pdf-icon12 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  transition: 0.3s;
  margin-right: var(--dl-space-space-twounits);
}

.print-pdf-icon14 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  transition: 0.3s;
}

@media(max-width: 1600px) {
  .print-pdf-register {
    color: var(--dl-color-backgrounds-primary);
    background-color: #fffdfd;
  }
  .print-pdf-container03 {
    width: 529px;
  }
  .print-pdf-text02 {
    text-align: center;
  }
  .print-pdf-container04 {
    flex-wrap: wrap;
    align-items: center;
    border-width: 0px;
    justify-content: flex-start;
  }
  .print-pdf-text09 {
    border-color: var(--dl-color-grays-dark100);
    border-width: 0px;
  }
  .print-pdf-form {
    width: 1408px;
    height: 387px;
  }
  .print-pdf-button {
    color: rgb(255, 255, 255);
    align-self: center;
    margin-top: var(--dl-space-space-unit);
    background-color: rgb(0, 0, 0);
  }
  .print-pdf-text20 {
    font-weight: bold;
  }
  .print-pdf-navlink15 {
    text-decoration: none;
  }
}
@media(max-width: 1200px) {
  .print-pdf-container03 {
    width: 644px;
  }
  .print-pdf-text02 {
    text-align: center;
  }
  .print-pdf-form {
    width: 1004px;
  }
}
@media(max-width: 991px) {
  .print-pdf-navbar-interactive {
    padding-right: 45px;
  }
  .print-pdf-logo {
    width: 87px;
    height: 105px;
  }
  .print-pdf-navlink01 {
    font-size: 18px;
  }
  .print-pdf-navlink02 {
    font-size: 18px;
  }
  .print-pdf-btn-group {
    width: 200px;
    height: 56px;
  }
  .print-pdf-icon {
    width: var(--dl-size-size-small);
    height: var(--dl-size-size-small);
  }
  .print-pdf-icon02 {
    width: var(--dl-size-size-small);
    height: var(--dl-size-size-small);
  }
  .print-pdf-hero {
    padding: var(--dl-space-space-threeunits);
    flex-direction: column;
  }
  .print-pdf-container03 {
    order: 2;
    width: 991px;
    background-image: url('https://images.unsplash.com/photo-1616198814651-e71f960c3180?ixid=Mnw5MTMyMXwwfDF8c2VhcmNofDE0fHx0aW1lfGVufDB8fHx8MTY3NDE5MDY1MA&ixlib=rb-4.0.3&w=1500');
    background-position: top left;
  }
  .print-pdf-text02 {
    width: 409px;
    text-align: center;
  }
  .print-pdf-container04 {
    width: 976px;
  }
  .print-pdf-container05 {
    align-items: center;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-twounits);
    justify-content: space-between;
  }
  .print-pdf-text09 {
    text-align: center;
  }
  .print-pdf-text10 {
    text-align: center;
  }
  .print-pdf-form {
    width: 843px;
  }
}
@media(max-width: 767px) {
  .print-pdf-navbar-interactive {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .print-pdf-desktop-menu {
    display: none;
  }
  .print-pdf-navlink02 {
    margin-left: var(--dl-space-space-unit);
  }
  .print-pdf-navlink03 {
    margin-left: var(--dl-space-space-unit);
  }
  .print-pdf-navlink04 {
    margin-left: var(--dl-space-space-unit);
  }
  .print-pdf-text {
    margin-left: var(--dl-space-space-unit);
  }
  .print-pdf-navlink05 {
    margin-left: var(--dl-space-space-unit);
  }
  .print-pdf-btn-group {
    display: none;
  }
  .print-pdf-burger-menu {
    display: flex;
  }
  .print-pdf-icon {
    width: var(--dl-size-size-small);
    height: var(--dl-size-size-small);
  }
  .print-pdf-mobile-menu {
    height: 464px;
  }
  .print-pdf-container01 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .print-pdf-image {
    width: 107px;
    height: 120px;
  }
  .print-pdf-icon02 {
    width: var(--dl-size-size-small);
    height: var(--dl-size-size-small);
  }
  .print-pdf-navlink10 {
    margin-bottom: 0px;
    text-decoration: none;
  }
  .print-pdf-login1 {
    background-color: var(--dl-color-backgrounds-primary);
  }
  .print-pdf-register1 {
    border-color: var(--dl-color-grays-black100);
    background-color: rgba(255, 255, 255, 0.6);
  }
  .print-pdf-hero {
    padding-left: 0px;
    padding-right: 0px;
  }
  .print-pdf-container03 {
    width: 100%;
  }
  .print-pdf-text02 {
    text-align: center;
  }
  .print-pdf-container04 {
    width: 767px;
  }
  .print-pdf-form {
    width: 666px;
  }
  .print-pdf-footer {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .print-pdf-image1 {
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .print-pdf-separator {
    margin-top: var(--dl-space-space-oneandhalfunits);
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .print-pdf-container13 {
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
  }
  .print-pdf-text21 {
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
}
@media(max-width: 479px) {
  .print-pdf-navbar-interactive {
    padding: var(--dl-space-space-unit);
    padding-right: 16px;
  }
  .print-pdf-mobile-menu {
    padding: 16px;
  }
  .print-pdf-nav1 {
    width: 457px;
    height: 532px;
    background-color: #D9D9D9;
  }
  .print-pdf-hero {
    align-items: flex-start;
    padding-top: var(--dl-space-space-twounits);
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: var(--dl-space-space-twounits);
    justify-content: center;
  }
  .print-pdf-container03 {
    width: 100%;
  }
  .print-pdf-text02 {
    align-self: flex-start;
    text-align: center;
  }
  .print-pdf-text03 {
    color: var(--dl-color-grays-white100);
  }
  .print-pdf-text04 {
    color: var(--dl-color-grays-white100);
  }
  .print-pdf-text05 {
    color: var(--dl-color-grays-white100);
  }
  .print-pdf-text06 {
    color: var(--dl-color-grays-white100);
  }
  .print-pdf-text07 {
    color: var(--dl-color-grays-white100);
  }
  .print-pdf-container04 {
    width: 479px;
  }
  .print-pdf-container05 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .print-pdf-form {
    width: 417px;
  }
  .print-pdf-footer {
    padding: var(--dl-space-space-unit);
  }
  .print-pdf-separator {
    margin-top: var(--dl-space-space-oneandhalfunits);
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .print-pdf-container13 {
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
  }
  .print-pdf-text21 {
    text-align: center;
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
}
