.feature-card-card {
  flex: 0 0 auto;
  width: 25%;
  display: flex;
  max-width: 285px;
  align-items: center;
  padding-top: var(--dl-space-space-oneandhalfunits);
  padding-left: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-unit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-oneandhalfunits);
}
.feature-card-navlink {
  display: contents;
}
.feature-card-image {
  width: 60px;
  height: 60px;
  object-fit: cover;
  margin-bottom: var(--dl-space-space-twounits);
  text-decoration: none;
}
.feature-card-text {
  text-align: center;
  margin-bottom: var(--dl-space-space-unit);
}
.feature-card-text1 {
  color: var(--dl-color-grays-gray100);
  text-align: center;
  margin-bottom: var(--dl-space-space-unit);
}
.feature-card-link {
  color: var(--dl-color-backgrounds-primary);
  text-decoration: none;
  background-color: transparent;
}
@media(max-width: 767px) {
  .feature-card-card {
    width: 50%;
  }
}
@media(max-width: 479px) {
  .feature-card-card {
    width: 100%;
  }
}

.grid-card-grid-card {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  padding: 36px;
  align-items: flex-start;
  flex-direction: column;
  background-color: var(--dl-color-grays-white100);
}
.grid-card-image {
  width: 60px;
  height: 60px;
  object-fit: cover;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.grid-card-text {
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.3;
  margin-bottom: var(--dl-space-space-halfunit);
}

.footer-footer {
  border-color: rgba(33, 33, 33, 0.1);
  border-width: 1px;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
}
.footer-max-width {
  justify-content: space-between;
}
.footer-container {
  flex: 0 0 auto;
  width: 50%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.footer-navlink {
  display: contents;
}
.footer-image {
  width: 106px;
  margin-bottom: var(--dl-space-space-twounits);
  text-decoration: none;
}
.footer-text {
  color: var(--dl-color-grays-gray100);
  max-width: 350px;
  margin-bottom: 60px;
}
.footer-social-media {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.footer-text1 {
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.footer-container1 {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.footer-icon {
  width: 24px;
  height: 24px;
  transition: 0.3s;
  margin-right: var(--dl-space-space-twounits);
}
.footer-icon:hover {
  fill: var(--dl-color-backgrounds-primary);
  cursor: pointer;
}
.footer-icon04 {
  width: 24px;
  height: 24px;
  transition: 0.3s;
  margin-right: var(--dl-space-space-twounits);
}
.footer-icon04:hover {
  fill: var(--dl-color-backgrounds-primary);
  cursor: pointer;
}
.footer-icon08 {
  width: 24px;
  height: 24px;
  transition: 0.3s;
  margin-right: var(--dl-space-space-twounits);
}
.footer-icon08:hover {
  fill: var(--dl-color-backgrounds-primary);
  cursor: pointer;
}
.footer-icon10 {
  width: 24px;
  height: 24px;
  transition: 0.3s;
}
.footer-icon10:hover {
  fill: var(--dl-color-backgrounds-primary);
  cursor: pointer;
}
.footer-links {
  flex: 0 0 auto;
  width: 40%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
}
.footer-container2 {
  flex: 0 0 auto;
  width: 50%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.footer-text2 {
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  margin-bottom: var(--dl-space-space-threeunits);
}
.footer-navlink1 {
  text-decoration: none;
}
.footer-navlink2 {
  text-decoration: none;
}
.footer-navlink3 {
  text-decoration: none;
}
.footer-navlink4 {
  text-decoration: none;
}
.footer-text3 {
  text-decoration: none;
}
.footer-navlink5 {
  text-decoration: none;
}
.footer-navlink6 {
  margin-bottom: 0px;
  text-decoration: none;
}
@media(max-width: 1600px) {
  .footer-image {
    width: 83px;
    height: 78px;
    margin-bottom: 0px;
  }
}
@media(max-width: 1200px) {
  .footer-navlink5 {
    text-decoration: none;
  }
}
@media(max-width: 991px) {
  .footer-max-width {
    flex-direction: column-reverse;
  }
  .footer-container {
    width: 100%;
  }
  .footer-links {
    width: 100%;
    margin-bottom: var(--dl-space-space-threeunits);
  }
}
@media(max-width: 479px) {
  .footer-links {
    flex-wrap: wrap;
  }
  .footer-container2 {
    width: 100%;
    margin-bottom: var(--dl-space-space-threeunits);
  }
  .footer-text2 {
    margin-bottom: var(--dl-space-space-twounits);
  }
}

.updates-container {
  width: 100%;
  display: flex;
  position: relative;
  min-height: 100vh;
  overflow-x: hidden;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  background-color: var(--dl-color-backgrounds-gray);
}
.updates-navbar-interactive {
  width: 100%;
  display: flex;
  position: relative;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
  background-color: #D9D9D9;
}
.updates-navlink {
  display: contents;
}
.updates-logo {
  width: 141px;
  height: 145px;
  text-decoration: none;
}
.updates-desktop-menu {
  display: flex;
}
.updates-nav {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.updates-navlink01 {
  font-size: 18px;
  text-decoration: none;
}
.updates-navlink02 {
  font-size: 18px;
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.updates-navlink03 {
  font-size: 18px;
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.updates-navlink04 {
  font-size: 18px;
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.updates-navlink05 {
  font-size: 18px;
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.updates-navlink06 {
  font-size: 18px;
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.updates-btn-group {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.updates-login {
  border-width: 0px;
  margin-right: var(--dl-space-space-twounits);
  text-decoration: none;
  background-color: var(--dl-color-backgrounds-primary);
}
.updates-register {
  text-decoration: none;
}
.updates-burger-menu {
  display: none;
  align-items: center;
  justify-content: center;
}
.updates-icon {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.updates-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: flex;
  padding: 32px;
  z-index: 100;
  position: fixed;
  transform: translateX(100%);
  transition: 0.5s;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
}
.updates-nav1 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.updates-container1 {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.updates-image {
  height: 2rem;
}
.updates-menu-close {
  display: flex;
  align-items: center;
  justify-content: center;
}
.updates-icon02 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.updates-nav2 {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.updates-navlink07 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.updates-navlink08 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.updates-navlink09 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.updates-navlink10 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.updates-text {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.updates-navlink11 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.updates-container2 {
  flex: 0 0 auto;
  width: auto;
  display: flex;
  margin-top: var(--dl-space-space-unit);
  align-items: center;
  flex-direction: row;
}
.updates-login1 {
  margin-right: var(--dl-space-space-twounits);
  text-decoration: none;
}
.updates-register1 {
  text-decoration: none;
}
.updates-icon-group {
  display: flex;
}
.updates-icon04 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.updates-icon06 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.updates-icon08 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.updates-main {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.updates-section-one {
  border-color: rgba(33, 33, 33, 0.1);
  border-width: 1px;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
}
.updates-text03 {
  color: var(--dl-color-backgrounds-primary);
}
.updates-max-width {
  flex-direction: column;
}
.updates-cards-container {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.updates-navlink12 {
  display: contents;
}
.updates-component {
  text-decoration: none;
}
.updates-navlink13 {
  display: contents;
}
.updates-component1 {
  text-decoration: none;
}
.updates-navlink14 {
  display: contents;
}
.updates-component2 {
  text-decoration: none;
}
.updates-component3 {
  text-decoration: none;
}
.updates-text07 {
  text-align: center;
  margin-bottom: var(--dl-space-space-fourunits);
}
.updates-text09 {
  color: var(--dl-color-backgrounds-primary);
}
.updates-max-width1 {
  flex-direction: column;
  justify-content: center;
}
.updates-heading-container {
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-twounits);
  flex-direction: column;
}
.updates-get-the-app {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-fourunits);
  flex-direction: row;
}
.updates-image1 {
  width: 151px;
  object-fit: cover;
  margin-right: var(--dl-space-space-unit);
}
.updates-image2 {
  width: 151px;
  object-fit: cover;
}
.updates-cards-container1 {
  width: 100%;
  display: grid;
  grid-gap: var(--dl-space-space-twounits);
  grid-template-columns: 1fr 1fr;
}
@media(max-width: 1600px) {
  .updates-register {
    color: var(--dl-color-backgrounds-primary);
    background-color: #fffdfd;
  }
}
@media(max-width: 1200px) {
  .updates-section-one {
    padding-top: var(--dl-space-space-halfunit);
  }
  .updates-text03 {
    color: var(--dl-color-backgrounds-primary);
  }
  .updates-section-five {
    padding-top: 12px;
  }
}
@media(max-width: 991px) {
  .updates-navbar-interactive {
    padding-right: 45px;
  }
  .updates-logo {
    width: 87px;
    height: 105px;
  }
  .updates-navlink01 {
    font-size: 18px;
  }
  .updates-navlink02 {
    font-size: 18px;
  }
  .updates-btn-group {
    width: 200px;
    height: 56px;
  }
  .updates-icon {
    width: var(--dl-size-size-small);
    height: var(--dl-size-size-small);
  }
  .updates-icon02 {
    width: var(--dl-size-size-small);
    height: var(--dl-size-size-small);
  }
  .updates-text07 {
    font-size: 42px;
    font-style: normal;
    font-family: Lexend;
    font-weight: 600;
    line-height: 1.3;
    text-transform: none;
    text-decoration: none;
  }
  .updates-text09 {
    color: var(--dl-color-backgrounds-primary);
  }
}
@media(max-width: 767px) {
  .updates-navbar-interactive {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .updates-desktop-menu {
    display: none;
  }
  .updates-navlink02 {
    margin-left: var(--dl-space-space-unit);
  }
  .updates-navlink03 {
    margin-left: var(--dl-space-space-unit);
  }
  .updates-navlink04 {
    margin-left: var(--dl-space-space-unit);
  }
  .updates-navlink05 {
    margin-left: var(--dl-space-space-unit);
  }
  .updates-navlink06 {
    margin-left: var(--dl-space-space-unit);
  }
  .updates-btn-group {
    display: none;
  }
  .updates-burger-menu {
    display: flex;
  }
  .updates-icon {
    width: var(--dl-size-size-small);
    height: var(--dl-size-size-small);
  }
  .updates-mobile-menu {
    height: 464px;
  }
  .updates-container1 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .updates-image {
    width: 107px;
    height: 120px;
  }
  .updates-icon02 {
    width: var(--dl-size-size-small);
    height: var(--dl-size-size-small);
  }
  .updates-navlink11 {
    margin-bottom: 0px;
    text-decoration: none;
  }
  .updates-login1 {
    background-color: var(--dl-color-backgrounds-primary);
  }
  .updates-register1 {
    border-color: var(--dl-color-grays-black100);
    background-color: rgba(255, 255, 255, 0.6);
  }
  .updates-cards-container {
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .updates-text07 {
    margin-bottom: var(--dl-space-space-twounits);
  }
  .updates-cards-container1 {
    grid-template-columns: 1fr;
  }
}
@media(max-width: 479px) {
  .updates-navbar-interactive {
    padding: var(--dl-space-space-unit);
  }
  .updates-mobile-menu {
    padding: 16px;
  }
  .updates-nav1 {
    width: 457px;
    height: 532px;
  }
  .updates-max-width {
    border-color: var(--dl-color-grays-dark100);
  }
  .updates-cards-container {
    justify-content: center;
  }
  .updates-text10 {
    align-self: center;
    text-align: center;
  }
}
