<div>
  <link href="./feature-card.css" rel="stylesheet" />
  <div class="feature-card-card">
    <a href="login.html" class="feature-card-navlink">
      <img
        alt="image"
        src="/playground_assets/auto-200h.png"
        class="feature-card-image"
      />
    </a>
    <h4 class="feature-card-text Heading4">
      <span>Get your document ready</span>
    </h4>
    <span class="feature-card-text1 Content-Light">
      <span>
        Just upload and collect your print next day. Say no more to queue. We
        understand your precious time very well.
      </span>
    </span>
    <a href="book-auto.html" class="feature-card-navlink1 button">
      <span>Button</span>
    </a>
  </div>
</div>
