<div>
  <link href="./navigation-links2.css" rel="stylesheet" />
  <nav class="navigation-links2-nav">
    <a href="index.html" class="navigation-links2-navlink"><span>Home</span></a>
    <a href="book-auto.html" class="navigation-links2-navlink1">
      <span>Book-auto</span>
    </a>
    <a href="print-pdf.html" class="navigation-links2-navlink2">
      <span>Print PDF</span>
    </a>
    <a href="about-us.html" class="navigation-links2-navlink3">
      <span>About us</span>
    </a>
    <a href="updates.html" class="navigation-links2-navlink4">
      <span>Updates</span>
    </a>
  </nav>
</div>
