<div>
  <link href="./navigation-links.css" rel="stylesheet" />
  <nav class="navigation-links-nav">
    <a href="index.html" class="navigation-links-navlink navbar-link">
      <span>Home</span>
    </a>
    <a href="book-auto.html" class="navigation-links-navlink1 navbar-link">
      <span>About</span>
    </a>
    <span class="navigation-links-text navbar-link"><span>Features</span></span>
    <a href="about-us.html" class="navigation-links-navlink2 navbar-link">
      <span>Pricing</span>
    </a>
  </nav>
</div>
